.secondaryButton {
    background-color: var(--grey-1);
    color: white;
    padding: 0.7rem 1.5rem;
    z-index: 4;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    place-self: center;
}

.secondaryButton:hover {
    scale: 1.02;
    transition-duration: 100ms;

}