.NavBar {
    display: flex;
    position: fixed;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding:0 5rem;

    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.99) 9.1%, rgba(0, 0, 0, 0.98) 17.15%, rgba(0, 0, 0, 0.95) 24.33%, rgba(0, 0, 0, 0.91) 30.78%, rgba(0, 0, 0, 0.86) 36.67%, rgba(0, 0, 0, 0.80) 42.16%, rgba(0, 0, 0, 0.73) 47.41%, rgba(0, 0, 0, 0.66) 52.59%, rgba(0, 0, 0, 0.58) 57.84%, rgba(0, 0, 0, 0.49) 63.33%, rgba(0, 0, 0, 0.40) 69.22%, rgba(0, 0, 0, 0.30) 75.67%, rgba(0, 0, 0, 0.20) 82.85%, rgba(0, 0, 0, 0.10) 90.9%, rgba(0, 0, 0, 0.00) 100%);    z-index: 100;
}


.ShortCuts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ShortCuts p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 1rem;
}


.NavBarContainer {
    display: flex;
    margin-left: 3rem;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 13rem);
}
@media (max-width: 768px) {
    .NavBarContainer {
        width: calc(100% - 8rem);
    }
    .NavBar {
        display: flex;
        position: fixed;
        align-items: center;
        color: white;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        padding:0 2rem;

        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.99) 9.1%, rgba(0, 0, 0, 0.98) 17.15%, rgba(0, 0, 0, 0.95) 24.33%, rgba(0, 0, 0, 0.91) 30.78%, rgba(0, 0, 0, 0.86) 36.67%, rgba(0, 0, 0, 0.80) 42.16%, rgba(0, 0, 0, 0.73) 47.41%, rgba(0, 0, 0, 0.66) 52.59%, rgba(0, 0, 0, 0.58) 57.84%, rgba(0, 0, 0, 0.49) 63.33%, rgba(0, 0, 0, 0.40) 69.22%, rgba(0, 0, 0, 0.30) 75.67%, rgba(0, 0, 0, 0.20) 82.85%, rgba(0, 0, 0, 0.10) 90.9%, rgba(0, 0, 0, 0.00) 100%);    z-index: 100;
    }

    .NavBarContainer {
        display: flex;
        margin-left: 1rem;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 767px){
    .NavBar {
        padding: 0 1rem;
    }

    .ShortCuts p {
        font-size: 12px;
        font-weight: 400;
        margin: 0 0.5rem;
    }

}