
.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 700px;
    z-index: 0;
}
.heroInfo {
    margin: 2.5rem 5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 30;
    bottom: 0;
}
.heroVideo {
    pointer-events: none;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-items: start;
}



.heroButtons {
    padding-top: 1.5rem;
    display: grid;
    grid-gap: 5px;
    width: 330px;
    grid-template-columns: repeat(2, 1fr);
}

.heroTitle {
    line-height: 2.8rem;
    font-weight: bold;
    width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 36px;
}

.scrollButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.43);
    z-index: 200;
    right: 0;
    height: 389px;
    opacity: 0;
}

.scrollButtonContainerLeft {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.43);
    z-index: 200;
    left: 0;
    height: 389px;
    opacity: 0;
}


.scrollButtonContainerLeft:hover {
    opacity: 1;
    transition: all 300ms ease-in;
}

.scrollAnimation {
    transition: transform 0.5s ease-in-out;
}

.scrollAnimation:hover {
    transform: scale(1.1);
}


.scrollButtonContainer:hover {
    opacity: 1;
    transition: all 300ms ease-in;
}

.scrollButton {
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: all 300ms ease-in;
    filter: brightness(1);
}

.left {
    transform: rotate(180deg);
}

.heroImage {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 90%;
    top: 0;
}



.containerHome {
    background-color: var(--background-color);
    z-index: 20;
    position: relative;
}


.heroGradiant {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61%; /* Adjust the height of the gradient overlay as needed */
    background: linear-gradient(360deg, #0C0C0C 0%, rgba(12, 12, 12, 0.99) 9.73%, rgba(12, 12, 12, 0.97) 17.8%, rgba(11, 11, 11, 0.94) 24.48%, rgba(11, 11, 11, 0.90) 30.07%, rgba(10, 10, 10, 0.84) 34.84%, rgba(9, 9, 9, 0.78) 39.08%, rgba(9, 9, 9, 0.71) 43.07%, rgba(8, 8, 8, 0.64) 47.09%, rgba(7, 7, 7, 0.55) 51.43%, rgba(6, 6, 6, 0.47) 56.37%, rgba(5, 5, 5, 0.38) 62.19%, rgba(3, 3, 3, 0.28) 69.19%, rgba(2, 2, 2, 0.19) 77.63%, rgba(1, 1, 1, 0.09) 87.81%, rgba(0, 0, 0, 0.00) 100%);    z-index: 1;
}

.fader_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.fader_diagonal_gradient {
    background-image: linear-gradient(21deg, var(--background-color) 15%,transparent 60%);
    position: absolute;
    width: 100%;
    max-height: 800px;
    height: 100%;
}

.fader_bottom_gradient {
    background-image: linear-gradient(180deg,hsla(0,0%,7%,0) 40%,var(--background-color) 100%);
    width: 100%;
    height: 100%;
}

.fader_solid_bg {
    flex: 1;
    bottom: 0;
    width: 100%;
}
.collectionContainer {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    padding: 0 0;
    z-index: 20;
    color: white;

}

.collectionContainer::-webkit-scrollbar {
    display: none;
}

.spacingRow {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.collectionTitle {
    font-size: 36px;
    margin-left: 5rem;
    font-weight: bold;
    z-index: 10;
    overflow: visible;
}
.scrollableContainer {
    padding-top: 2rem;
    overflow: visible;
}

.addButton{
    width: 259px;
    height: 389px;
    object-fit: cover;
    transition: all 300ms ease-in;
    filter: brightness(1);
}

.addButton:hover {
    -webkit-filter: brightness(130%);
    transition: all 300ms ease-in;
}


.showCaseSkeletonContainer {
    display: -webkit-inline-box;
}


