@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0C0C0C;
  margin: 0;
  padding: 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #0C0C0C;
  --background-color: #0C0C0C;
  --grey-1: rgba(255, 255, 255, 0.06);
  --grey-2: rgba(255, 255, 255, 0.6);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  h1{
    color: white;
  }
}
@media screen and (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
  }

}

